<ul id="main-menu" class="main-menu">
    {% for menu in menu_list %}
        {% if menu.items %}
            <a>
                <i class="{{ menu.icon }}"></i>
                <span class="title">{{ menu.name }}</span>
            </a>
            {% for item in menu.items %}
                <li>
                    <a href="#{{ item.name }}" class="smooth">
                        <span class="title">{{ item.name }}</span>
                    </a>
                </li>
            {% endfor %}
        {% else %}
        <li>
            <a href="#{{ menu.name }}" class="smooth">
                <i class="{{ menu.icon }}"></i>
                <span class="title">{{ menu.name }}</span>
            </a>
        </li>
        {% endif %}
    {% endfor %}
</ul>